<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SampleClassData.Properties.Settings.SampleDBConnectionString"
            connectionString="Data Source=PC-RENAN\sqlexpress;Initial Catalog=SampleDB;User ID=sa;Password=k@110891"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>